fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

authlib
requests
python-dotenv

google-generativeai
google-api-python-client
google-auth
google-auth-httplib2

chromadb

python-docx
pypdf
openpyxl
lxml

python-multipart
email-validator

itsdangerous
